<!DOCTYPE html>
<html>
<head>
  <title>BikesShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "nav" %>
<div class='container'>
	<%= content_tag :div, notice, class: "bg_success" %>
	<%= content_tag :div, alert, class: "bg_danger" %>
	<%= yield %>
</div>

</body>
</html>